name: eks terraform workflow

on:
  push:
    branches:
      - main
      - branch-test
      - add-eks
    paths:
      - "eks/**"
      - ".github/workflows/eks-deploy.yaml"

permissions:
  id-token: write
  contents: read
  
jobs:
  terraform:
    name: Terraform deploy
    runs-on: ubuntu-latest
    defaults:
     run:
      working-directory: ./eks/terraform

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false
          terraform_version: "1.5.0"

      - name: Terraform init
        run: |
          terraform init

      - name: Terraform plan
        run: |
          terraform plan

      - name: Terraform apply
        run: |
          terraform apply -auto-approve
